option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    NEXTAUTH_SECRET: gDFt30aZNJQ21PRS2g47/3HJzcXSqyTJHgbRLGIiDzc=
    NEXTAUTH_URL: https://platform.captify.io
    NEXT_PUBLIC_NEXTAUTH_URL: https://platform.captify.io
    COGNITO_IDENTITY_POOL_ID: us-east-1:ff49336e-22a7-4dad-be27-16862b1f817d
    BEDROCK_AGENT_ID: 1I3BH5XILV
    BEDROCK_AGENT_ALIAS_ID: OQODHRAAAQ